{% extends "base.html" %}

{% block title %}Tournament Manager{% endblock %}

{% block header_text %}Marvel Rivals Tournament Manager{% endblock %}

{% block style %}
<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
  }

  .title h1, .title p {
    color: #000000;
    text-align: center;
  }
  .form, .input {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    max-width: 60rem;
  }
  .form {
    align-items: stretch;
    margin: auto;
  }
  .input {
    align-items: flex-start;
    flex: 1 0;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem
  }
  .form-label {
    margin-bottom: 0.5rem;
  }
  .submit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    max-width: 60rem;
    justify-content: flex-start;
    flex: 1 0;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem
  }
</style>

{% endblock %}

{% block script %}
{% endblock %}

{% block main %}

<body>
  <!-- Page Description -->
   <div class="title">
    <h1>Tournament Creator</h1>
    <p>Create your own tournament, invite players and upload the results. Share to whoever you want.</p>
   </div>

  <!-- Input Tournament Details -->
  <form method="POST" action="#" class="form">
    <div class="input">
      <label for="name" class="form-label">Tournament Name</label>
      <input type="text" class="form-control" id="name" name="name" required maxlength="50" style="min-width: 20rem;">
    </div>

    <div class="input">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" required maxlength="1000" style="min-width: 40rem;"></textarea>
    </div>

    <div class="input">
      <label for="view" class="form-label">View</label>
      <select name="view" id="veiw">
        <option value="bracket">Public</option>
        <option value="elimintation">Link only</option>
        <option value="round_robin">Invite Only</option>
      </select>
    </div>

    <div class="input">
      <label for="type" class="form-label">Type</label>
      <select name="type" id="type">
        <option value="bracket">Bracket</option>
        <option value="elimintation">Elimination</option>
        <option value="round_robin">Round Robin</option>
        <option value="swiss">Swiss</option>
      </select>
    </div>

    <div class="input">
      <label for="description" class="form-label">Teams</label>
      <textarea class="form-control" id="teams" name="teams" required maxlength="1000"></textarea>
    </div>

    <div class="input">
      <label for="myfile" class="form-label">Results File (Optional)</label>
      <input type="file" id="reults_file" name="results_file">
    </div>

    <div class="submit">
      <button type="submit" class="btn btn-primary" style="margin-right: 0.5rem;">
        Confirm
      </button>
      <button type="submit" class="btn btn-primary">
        Cancel
      </button>
    </div>
  </form>
</body>
{%endblock %}