{% extends "base.html" %}

{% block title %}Tournament Manager{% endblock %}

{% block header_text %}Marvel Rivals Tournament Manager{% endblock %}


{% block main %}
<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
  }

  .title h1,
  .title p {
    color: #000000;
    text-align: center;
  }

  .form,
  .input {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    max-width: 60rem;
  }

  .form {
    align-items: stretch;
    margin: auto;
  }

  .input {
    align-items: flex-start;
    flex: 1 0;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem
  }

  .form-label {
    margin-bottom: 0.5rem;
  }

  .submit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    max-width: 60rem;
    justify-content: flex-start;
    flex: 1 0;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem
  }
</style>

<body>
  <!-- Page Description -->
  <div class="title">
    <h1>Tournament Creator</h1>
    <p>Create your own tournament, invite players and upload the results. Share to whoever you want.</p>
  </div>

  <!-- Input Tournament Details -->
  <form method="POST" action="/create-tournament" enctype="multipart/form-data" class="form">
    {{ form.hidden_tag() }}

    <div class="input">
      {{ form.name.label(class="form-label", for="name") }}
      {{ form.name(class="form-control", id="name") }}
      {% if form.name.errors %}
      <div class="invalid-feedback">
        {% for error in form.name.errors %}
        <span>{{ error }}</span><br>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="input">
      {{ form.description.label(class="form-label", for="description") }}
      {{ form.description(class="form-control", id="description") }}
      {% if form.description.errors %}
      <div class="invalid-feedback">
        {% for error in form.description.errors %}
        <span>{{ error }}</span><br>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="input">
      {{ form.visibility.label(class="form-label", for="view") }}
      {{ form.visibility(class="form-control", id="view") }}
      {% if form.visibility.errors %}
      <div class="invalid-feedback">
        {% for error in form.visibility.errors %}
        <span>{{ error }}</span><br>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="input">
      <label for="description" class="form-label">Teams</label>
      <textarea class="form-control" id="teams" name="teams" required maxlength="1000"></textarea>
    </div>

    <div class="input">
      {{ form.csv_file.label(class="form-label", for="results_file") }}
      {{ form.csv_file(class="form-control", id="results_file") }}
      {% if form.csv_file.errors %}
      <div class="invalid-feedback">
        {% for error in form.csv_file.errors %}
        <span>{{ error }}</span><br>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="submit">
      {{ form.submit(class="btn btn-primary", id="submit") }}
      <button type="button" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</body>
{%endblock %}