{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block header_text %} Login {% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="card-title text-center mb-4">Sign In</h3>
                    <form method="POST" action="#">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username or Email</label>
                            <input type="text" class="form-control" id="username" name="username" required
                                autofocus>
                        </div>
                        <div class="mb-3 form-check">
                            {{ form.remember_me(class="form-check-input", id="rememberMe") }}
                            <label class="form-check-label" for="rememberMe">Remember Me</label>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary" id="login-button">
                                Login
                            </button>
                        </div>
                    </form>
                    <p class="mt-4 text-center">
                        <small>Don't have an account?<br><a href="/account/signup" id="signup-link">Sign Up</a></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}