html,
body {
  height: 100%;
}
/* Nav bar style */
nav {
    background-color: black; 
}

.nav-link {
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    letter-spacing: 1px; 
}

.nav-link:hover {
  color: red;
  text-decoration: blanchedalmond; 
}
/* Homepage css
   Homepage css */
.hero {
    padding: 4rem 2rem;
    text-align: center;
    background: linear-gradient(135deg, #1f1f1f, #2b2b2b);
  }
  
  .hero h1 {
    color: aliceblue;
    font-size: 2.5rem;
  }
  
  .hero p {
    color: aliceblue;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  .hero button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    background-color: #7a1d00;
    color: white;
    cursor: pointer;
  }
  .hero button:hover{
    background-color: #ff0000;
    transition: background-color 0.3s ease;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    }
  
  .section {
    padding: 3rem 2rem;
    max-width: 1000px;
    margin: auto;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }
  
  .feature-card {
    background-color: #1e1e1e;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 8px;
    flex: 1 1 200px;
    text-align: center;
  }
  