<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/" id="nav-home">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/tournament" id="nav-tournament">View Tournament</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/create-tournament" id="nav-create-tournament">New Tournament</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/history">Tournaments</a>
    </li>

    {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/account" id="nav-account">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/logout" id="logout-link">Log Out</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/account/login" id="login-link">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/signup" id="signup-link">Sign Up</a>
      </li>
    {% endif %}
  </ul>
</nav>