<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/create-tournament">New Tournament</a>
    </li>
     <li class="nav-item">
    <a class="nav-link" href="/history">Tournaments</a>
  </li>
    <!-- Dropdown Result -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Result
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/tournament/game">Game Results</a></li>
        <li><a class="dropdown-item" href="/tournament/team">Team Results</a></li>
        <li><a class="dropdown-item" href="/tournament/player">Player Results</a></li>
      </ul>
    </li>

    <!-- Don't show this yet since we don't have this page -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li> -->

    {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/account">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/logout">Log Out</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/account/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/signup">Sign Up</a>
      </li>
    {% endif %}
  </ul>
</nav>