<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Not Found</title>
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 0;
            margin: 0;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>Error 404</h1>
        <!-- We don't really need this error inserted here, 
         its just a as a demo of templates. -->
        <p>{{ error }}</p>
        <p><a href="/">Return to Home Page</a></p>
    </div>
</body>
</html>